# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Clear NuGet caches
      run: dotnet nuget locals all --clear

    - name: Restore dependencies
      run: dotnet restore Backend.Tests/Backend.Tests.csproj

    - name: Build
      run: dotnet build Backend.Tests/Backend.Tests.csproj --no-restore --configuration Release

    - name: Test
      run: dotnet test Backend.Tests/Backend.Tests.csproj --no-build --verbosity normal
